@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;  
    text-decoration: none;    
}

body{
    background-image: url('../img/OC1Y900.jpg');
    background-size: 100px 8px;    
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(4, 44, 31);
    color: white;
    /*
    display: grid;
    grid-template-rows: auto 1fr auto;*/
    width: 100%;
    height: 100%;
    min-width: 488px;
    min-height: 600px;
}

.header{
    background-color: #105c36;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inicio{
    visibility: visible;
    width: 100%;
    height: 700px;    
    background-image: url('../img/img4b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.nav-tabs{
    background-image: url('../img/OC1Y900.jpg');
    background-size: 100px 8px;
    cursor: pointer;
    align-items: center;
    height: 53px; 
    border-top: 5px;  
}

.nav-item{
    background-color: rgb(105, 172, 155);
}

span{
    color: rgb(2, 58, 27);
}

.logo{
    margin-right: 10px;
    cursor: not-allowed;
}

.about{
    visibility: visible;
    width: 95%;
    height: 630px;  
    align-items: center;  
}

.box-tecnologias{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80px;    
    margin: 10px 10px 10px;   
    justify-content: space-around;
    align-items: center;
    background-color: #3b685881;
    color: white;
    border-radius: 90px;
    border: 1px solid #808080;
    overflow: auto; 
}

.img-tec{
    background-color: #db9c70;
    width: 70px;
    height: 70px;
    border-radius: 90px auto;
}

.info-content{
    text-size-adjust: 70%;
}

.img-der{
    width: 160px auto;
    height: 140px auto;
    border-radius: 90px;
}   

.toggle{
    visibility: visible;
}
  
.proyecto { 
    margin-bottom: 20px; 
    color: black;
}

.proyecto img{
    width: 100%;
}

.conocimientos {
    width: 80%;
    height: 90px auto;
    align-items: left;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.conocimientos img{
    width: 100%;
}

.certificados img{
    width: 150px;
    height: 90px auto;
}

.card:hover {
    transform: scale(1.10); /* Expande la tarjeta */
}

.info-content{
    background-color: #274d4081;
    color: white;   
    border-radius: 90px;
    border: 1px solid #69ac9b;
    text-wrap: pretty;
}

.info-contacto{
    visibility: visible;
    width: 300px;
    height: 160px;
    align-self: center;
    align-items: center;
    background-color: #d9e4e081;
    color: rgb(162, 187, 163);   
    border-radius: 90px;
    border: 1px solid #69ac9b;
    text-wrap: pretty;
}

.h6{
    justify-content: center;
    text-size-adjust: 100%;
    text-align: center; 
    font-size: 1em auto;  
}

.main{
    visibility: visible;
    background-size: 100% auto; 
    background-color: #1a3123;
    color: white;   
}

.flags{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flags__item{
    width: 30px;
}

.flags_img{
    display: block;
    cursor:pointer;
}

.card {
    width: 80%;
    height: 90px auto;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

#cajas {
    display: flex;
    align-items: center;
    justify-content: space-between;      
    width: 80%;
    background-color: rgb(105, 172, 155);
}

 .caja{
  width: 240px;
  height: 160px;
  margin-right: 10px;
  float: none;
  background-color: #849c979f;
  text-size-adjust: 100%;
  transition: transform 0.3s ease-in-out;
  }

.caja img{
    width:"240";
    height:"160";
}

.canvas-color{
    background-color: #849c979f;
    color: rgb(20, 4, 4);
    display: flex;
    justify-content: left;
    align-items: left;
}  

/* Cajas responsivas */
@media(max-width:880px){
   #cajas caja {
    width: 40%;
   } 
}
/* Una caja con todo el ancho */
@media(max-width:664px){
   #cajas caja {
    width: 60%;
   } 
}

.foot{
    background-color: #105c36;
    color: white;    
    position: bottom;
    bottom: 0px;

    justify-content: center;
    text-size-adjust: 100%;
    text-align: center;
}
