@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;  
    text-decoration: none;    
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}

.wrapper{
    width: 98vw;
    height: 98vh;
    background-color: black;
    color: white;
}

.header{
    background-color: #db9c70;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-izquierda{
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 40px;
}

.navbar{
    /*borde tamaño tipo y color*/
      display: flex;
      justify-content: space-between;
      color: white;
      padding: 1em;
      margin-right: 10px;
}

.btn-primary{
    background-color: #808080;
    color: white;
    cursor: pointer;
}

.brand{
    display: flex;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    color: #db9c70;
    margin-top: 10px;
    margin-left: 10px;
}

.brand span{
    color: aqua;
    margin-top: -9px
}

span{
    color: aqua;
}

.canvas-color{
    background-color: #35383b;
    color: white;
    display: flex;
    justify-content: left;
    align-items: left;
}   
     
.proyecto { 
    margin-bottom: 20px; 
}

.conocimientos { 
    align-items: left;
    text-align: center; 
    margin-left: 10px;
}

.card-title {
    color: black;
    font-size: 1.5em; 
    font-weight: 600;
    margin-bottom: 5px; 
}

.card-text {
    color: #0f0188; 
    font-size: 1em;
    margin-bottom: 0px;
}

.box-tecnologias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    height: 80px;
    background-color: #db9c70;
    color: white;
    border-radius: 90px;
    border: 1px solid #808080;
    position: relative;
    overflow: auto; 
}
.img-tec{
    background-color: #db9c70;
    width: 70px;
    height: 70px;
    border-radius: 90px auto;
}

.toggle{
    visibility: visible;
}

.info-content{
    text-size-adjust: 70%;
}

.img-der{
    width: 160px auto;
    height: 140px auto;
    border-radius: 90px;
}   

.translate{
    visibility: visible;
}

.foot{
    position: bottom;
    bottom: 0px;
    color: white;
    justify-content: center;
    text-size-adjust: 100%;
    text-align: center;
}

.flags{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flags__item{
    width: 30px;
}

.flags_img{
    display: block;
    cursor:pointer;
}


/* Responsive*/
@media (max-width: 360px){
    /* Medida de celular básico 360x760 */
    #wrapper {
        overflow:auto ;
        height: 730px;
        font-size: 0;
    }
    #navbar{
    /*borde tamaño tipo y color*/
      display: bootstrap;
      justify-content: space-around;
      color: #126ef8;
      padding: 1em;
      margin-right: 5px;
    }
    #img-der{
    width: 90px;
    height: 70px;
    }
    #h1{
        font-size: 2;
    }    
    #h2{
        font-size: 1;
    }
}
    
.card {
    width: 80%;
    height: 90px auto;
    background: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.conocimientos {
    width: 80%;
    height: 90px auto;
    background: #3498db;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.12); /* Expande la tarjeta */
}

